*{
    box-sizing:border-box;
}
body{
    padding:10px; background-color: #f1f1f1;
}
.header{
    text-align:center;
    background-image: url("header.jpg");
    padding: 40px;
}
.header a{text-decoration:none; color:gold; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.header p{color:white;}
.topnav{
    background-color:rgb(111, 206, 238);
    overflow:hidden;
}
.topnav a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:block;
    float:left;
    padding: 15px;
    text-decoration:none;
    color:white;;
}
.topnav a:hover{
    background:rgb(77, 168, 224);
}
#search{
    display:block;
    border:none;
    border-radius:2px;
    margin-top:6px;
    margin-right:5px;
    width:300px;
    background-image: url("https://www.w3schools.com/css/searchicon.png");
    background-repeat:no-repeat;
    background-position:5px 8px;
    padding:8px 2px 8px 40px;
    transition: width 0.4s ease-in-out;
    font-size:16px;

}
#search:focus{
    width:30%;
    outline:none;
}
.container{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:16px;
    margin-top:20px;
}
.container::after{
    content:"";
    display:table;
    clear:both;
}
.main-content{
    width:70%;
    float:left;
}
.image{width:100%; background-color:#f2f2f2; height:200px; padding:15px;}
.sidebar{
    display:block;
    width:25%;
    float:right;
    overflow:auto;
}
.article{
    background-color:white;
    padding:20px;
    margin-top:15px;
    box-shadow: 0px 0px 2px 1px whitesmoke;
}
.article:first-child{margin-top:0px;}
.sidebar-1{
    background-color: white; 
    padding:10px;
    line-height:20px;
}
.sidebar-2{
    background:lightslategray;
    color:white;
    padding: 15px;
    margin-top:20px;
}
.sidebar-2 a{
    display:block;
    margin-top:5px;
    padding:5px;
    color:yellow;
    background-color:rgb(77, 168, 224);
    text-align:center;
}
.read-more{
    display:block;
    background-color:gold;
    max-width:120px;
    padding:10px;
    color:black;
    text-decoration:none;
    text-shadow: 2px 0.2px white;
}
.footer{
    margin-top:40px;
}